.homecontainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.hometitle{
    font-size: 14px;
    display: flex;
    width: 1080px;
    margin-bottom: 0px;
}