/* ImageSlider.css */

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; /* Add a transition for smooth sliding */
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  